@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
:root{
    --logo: #021718;
    --nav: #FFFFFF;
    --background: #BD3381;
    --btn-background: #45BBBB;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    overflow: auto;
    font-family: "Roboto", sans-serif;
}

/* Navigation */
.nav-container{
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
    margin-top: -65px;
    position: relative;
    z-index: 800;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-items{
    display: flex;
}
nav .logo{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    color: var(--logo);
}
.nav-items li{
    list-style: none;
    margin-right: 100px;
}
.nav-items li:nth-last-of-type(1){
    margin: 0;
}
.nav-items li a{
    font-size: 22px;
    color: var(--logo);
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
/* Header */
.header-container{
    background: var(--background) url("img/bg-shape.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}
.header-container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content h1{
    color: var(--logo);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
}
.hero-content h1 span{
    color: var(--nav);
}
.hero-content p{
    font-size: 24px;
    line-height: 42px;  
    color: var(--nav);
    margin: 30px 0;
    width: 491px;
}
.hero-content a{
    font-size: 24px;
    color: var(--nav);
    text-decoration: none;
    background: var(--btn-background);
    border-radius: 8px;
    padding: 15px 48px;
    display: inline-block;
    transition: 300ms;
}
.hero-content a:hover{
    transform: translateY(-8px);
}
/* Social Icons */
.social-icons{
    display: flex;
    align-items: center;
}
.social-icons a{
    margin: 0 24px;
}
.social-icons a:nth-of-type(1){
    margin-left: 0;
}
/* Photo */
header .hero-img{
    position: relative;
}
header .hero-img img{
    transition: 300ms;
    position: relative;
    z-index: 100;
}
header .hero-img img:hover{
    transform: rotate(-6deg);
}
header .hero-img .photo-bg-1{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 81px;
    top: 60px;
    background: #9B51E0;
    transform: rotate(-6deg);
}
header .hero-img .photo-bg-2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 81px;
    top: 60px;
    background: #45BBBB;
    box-shadow: 0px 24px 84px rgba(0, 0, 0, 0.5);
    transform: rotate(-83.55deg);
}
.search-box{
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    top: 0;
    transition: 300ms;
}
.search-box.active{
    top: 72px;
} 
.search-box input{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;
    font-size: 24px;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;
}
.search-box input::placeholder{
    color: #b3b3b3;
    z-index: 100;
}
/* Search and Close Buttons */
.nav-btn-container{
    display: flex;
    position: relative;
}
.nav-btn-container img{
    position: absolute;
}
.nav-btn-container .close-btn{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: 300ms;
}
.nav-btn-container .search-btn{
    transition: 300ms;
    pointer-events: auto;
}
.nav-btn-container.active .search-btn{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);

}
.nav-btn-container.active .close-btn{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.search-box.active{
    z-index: 100;
}
/* Hidden search box */
/* .search-box{
    display: none;
} */